@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

/* Profile icon */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;

  background: linear-gradient(179deg, #f731d6, transparent);
}
#profileIcon {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 auto 20px;
}
.heading {
  background: #f0c894a1;
  text-align: center;
  color: darkcyan;
}
/* Profile table */
#profileTable {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#profileTable th,
#profileTable td {
  border: 1px solid #ddd;
  padding: 10px;
}

#profileTable th {
  background-color: #f2f2f2;
  text-align: left;
}
#profileIcon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.wishlist-item {
  position: relative;
  background-color: rgba(218, 215, 215, 0.5);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 3px black;
  transition: transform 0.5s, opacity 0.5s;
}
.trash-animate {
  transform: translateY(50px) rotate(230deg);
  opacity: 0;
}
.wishlist-item:hover {
  box-shadow: 3px 8px 7px black;
  animation-name: sample;
  animation-duration: 1s;
}

.Remove-wishlist {
  position: absolute;
  top: 97%;
  left: 10%;
  cursor: pointer;
}

.Remove-wishlist-btn {
  all: unset;
  padding: 10px;
  color: #faf9f9;
  font-weight: bold;
  border-radius: 4px;
  background-color: #d41414;
}

@keyframes sample {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.wishlist {
  display: grid;
  grid-row: 2;
  margin-bottom: 50px;
}
.wishlist .wishlist-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
  margin: 30px;
}

@media (max-width: 768px) {
  .wishlist-list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
  .Remove-wishlist {
    left: 20%;
  }
}
.wishlist-item img {
  max-width: 100%;
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.wishlist-item h3 {
  margin: 1rem 0;
  text-transform: capitalize;
}

#NotifyUser {
  position: fixed;

  text-align: center;
  border-radius: 10px;
  z-index: 9999;
  font-size: 10px;
  font-weight: 500;
  animation: slideDown 0.5s ease-in-out;
  font-size: 21px;
  padding: 15px 20px;
  margin: 10px;
  top: 30px;
  left: 20%;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
/* Error */
.errorMessage {
  position: relative;
  background-color: #e9afa5ee;
  color: #be0e0e;
}
.errorMessage::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #f84848;
  border-radius: 2px;
  animation: errorBorder 3s linear forwards;
}

@keyframes errorBorder {
  to {
    width: 100%; /* Full width */
  }
}

.none {
  display: none;
}
/* success */
.successMessage {
  position: relative;

  background-color: #c6e9a5ea;
  color: #115011;
}
.successMessage::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #26a506;
  border-radius: 2px;
  animation: errorBorder 3.5s linear forwards;
}

@keyframes errorBorder {
  to {
    width: 100%; /* Full width */
  }
}
