@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo-img {
  content: url(log.ico);
  max-width: 45px;
  max-height: 45px;
  border-radius: 50%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logo h3 {
  background-position: center;
  background-size: cover;
  background-image: url("https://media1.giphy.com/media/VhPumOT1wmvUFHeyxU/giphy.webp?cid=790b7611tc9qbxa5f2wiqe9sff94xya8z9spudp0e31ivy1t&ep=v1_gifs_search&rid=giphy.webp&ct=g");
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #000;
}
html {
  font-size: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(59, 73, 55, 0.685);
  /* outline: 1px solid rgb(0, 128, 255); */
  border-radius: 5px;
}

body {
  color: #9698a6;
  font-size: 0.875rem;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;

  /* font-family: "Nunito", sans-serif; */
  font-optical-sizing: auto;
}

.search-bar input {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  width: 350px;
  font-size: 19px;

  border: 1px solid grey;
}

.search-bar input:hover {
  border: 1px solid rgb(128, 78, 78);
}

.search-btn {
  padding: 14px;
  border-radius: 20px;
  border: none;
}

.popular-anime {
  display: grid;
  grid-row: 2;
}

.recommendations {
  display: grid;
  grid-row: 2;
  margin-bottom: 50px;
}

.recommendations .anime-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}

/* .error {
  padding: 10px;
  text-align: center;
  display: flex;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  background-color: #ffa4a4;
  color: #d80b0b;
} */
.none {
  display: none;
}

h2 {
  text-align: center;
  margin: 2rem 0;
}

/*  */

/* menu toggle */

/* profile menu */

.profile {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  text-align: end;
}

.profile h3 {
  text-align: end;
  line-height: 1;
  margin-bottom: 4px;
  font-weight: 600;
}

.profile p {
  line-height: 1;
  font-size: 14px;
  opacity: 0.6;
}

.profile .img-box {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.profile .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* menu (the right one) */

.profile-menu {
  position: absolute;
  top: calc(100% + 24px);
  right: 16px;
  width: 200px;
  min-height: 100px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: 300ms;
}

.profile-menu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 14px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
  z-index: -1;
}

.profile-menu.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

/* profile-menu links */

.profile-menu ul {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background: #fff;
}

.profile-menu ul li {
  list-style: none;
}

.profile-menu ul li:hover {
  background: #eee;
}

.profile-menu ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  gap: 3px;
}

/* Popular Anime Section */
.popular-anime .anime-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.anime-item {
  position: relative;
  background-color: rgba(218, 215, 215, 0.5);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 3px black;
}

.anime-item:hover {
  box-shadow: 3px 8px 7px black;
  animation-name: sample;
  animation-duration: 1s;
}

.wish-list {
  position: absolute;
  top: 97%;
  left: 15%;
  cursor: pointer;
}

.wishlist-btn {
  all: unset;
  padding: 10px;
  color: #faf9f9;
  font-weight: bold;
  border-radius: 4px;
  background-color: #26a506;
}

@keyframes sample {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

.anime-item img {
  max-width: 100%;
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.anime-item h3 {
  margin: 1rem 0;
  text-transform: capitalize;
}

.anime-item p {
  color: #666;
}

/* Genres Section */
.anime-genres .genres-list {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  gap: 10px;
  margin: 10%;
}

.genre-item {
  background-color: #082c24;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

/* <div class="anime-details" id="anime-details"> */

.anime-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-width: 400px;
  /* Set a minimum width */
  max-width: 500px;
  /* Set a minimum width */
  max-height: 800px;
  min-height: 500px;
  overflow: auto;
  background-color: #fff;
  background: #ffdaf4 linear-gradient(to bottom, #fffcfc, transparent);
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  margin-top: 50vh;
  margin-bottom: 50vh;
  z-index: 11;
  box-shadow: -9px 8px 19px 1px rgb(3 3 3);
}

/* Rest of the CSS styles remain the same */

.anime-details .anime-details-div {
  padding: 20px;
}

.anime-details .anime-details-div .img img {
  width: 50%;
  border-radius: 10px 10px 0 0;
}

.anime-details .anime-details-div .anime-details-list {
  margin-top: 20px;
}

.anime-details .anime-details-div .anime-details-list h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.anime-details .anime-details-div .anime-details-list h4 {
  margin: 10px 0 5px;
  font-size: 16px;
  color: #666;
}

.anime-details .anime-details-div .anime-details-list i {
  color: #444;
}

.anime-details .anime-details-div .anime-details-list span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #777;
}

.anime-details .anime-details-div .anime-details-list .fa-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  /* Adjust icon size */
  cursor: pointer;
}

#NotifyUser {
  position: fixed;

  text-align: center;
  border-radius: 10px;
  z-index: 9999;
  font-size: 15px;
  font-weight: 500;
  animation: slideDown 0.5s ease-in-out;

  padding: 15px 20px;
  margin: 10px;
  top: 30px;
  left: 40%;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

/* Error */
.errorMessage {
  position: relative;
  background-color: #e9afa5ee;
  color: #be0e0e;
}

.errorMessage::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #f84848;
  border-radius: 2px;
  animation: errorBorder 3s linear forwards;
}

@keyframes errorBorder {
  to {
    width: 100%;
    /* Full width */
  }
}

/* success */
.successMessage {
  position: relative;

  background-color: #c6e9a5ea;
  color: #115011;
}

.successMessage::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #26a506;
  border-radius: 2px;
  animation: errorBorder 3.5s linear forwards;
}

@keyframes errorBorder {
  to {
    width: 100%;
    /* Full width */
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .anime-list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }

  .wish-list {
    left: 33%;
  }

  #NotifyUser {
    left: 20%;
  }

  .anime-details {
    min-width: 300px;
    /* Set a minimum width */
    max-width: 300px;
    /* Set a minimum width */
    max-height: 500px;
    min-height: 500px;

    margin-top: 20vh;
    margin-bottom: 10vh;
  }
}

@media (min-width: 938px) {
  body {
    font-size: 1.125rem;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: #2d314d;
  font-weight: 500;
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.875rem;
}

@media (min-width: 938px) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

.flex {
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.recommendations .container h2 {
  background-position: center;
  background-size: cover;
  background-image: url("https://media1.giphy.com/media/VhPumOT1wmvUFHeyxU/giphy.webp?cid=790b7611tc9qbxa5f2wiqe9sff94xya8z9spudp0e31ivy1t&ep=v1_gifs_search&rid=giphy.webp&ct=g");
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

button,
.button {
  position: relative;
  /* display: inline-block; */
  font-size: 0.875rem;
  padding: 0.8125rem 2.1875rem;
  border-radius: 3.125rem;
  background: linear-gradient(to right, #f436ba, #ff0068);

  /* background: linear-gradient(to right, #31d35c, #2bb7da); */
  color: white;
  font-weight: 700;
  cursor: pointer;
  overflow: hidden;
}

button::after,
.button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

button:hover::after,
.button:hover::after {
  opacity: 1;
}

@media (max-width: 938px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 938px) {
  .hide-for-desktop {
    display: none;
  }
}

.fade-in {
  opacity: 1;
  visibility: visible;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #42ebf1 linear-gradient(to bottom, #48db2a, transparent);
  transition: 0.5s ease-in-out;
}

.overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #3bc9cef5 linear-gradient(to bottom, #48db2ac0, transparent);
  transition: 0.5s ease-in-out;
}

.glassy {
  background: rgba(143, 233, 136, 0.22);

  backdrop-filter: blur(5.2px);
}

.zoom-effect {
  transition: transform 0.3s ease;
}

.zoom-effect:hover {
  transform: scale(1.1);
}

.tilt-effect:hover {
  transform: rotateY(10deg) rotateX(10deg);
}

.section-heading {
  text-align: center;
  margin-bottom: 1.875rem;
}

@media (min-width: 40em) {
  .section-heading {
    text-align: start;
    margin-bottom: 2.8125rem;
  }
}

@media (min-width: 938px) {
  .section-heading {
    width: 60%;
  }
}

.header {
  position: fixed;
  width: 100%;
  padding: 1.0625rem 0;
  z-index: 12;
  background: rgb(255 255 255 / 95%);
  box-shadow: -1px -4px 20px 0px #7aac85;
}

.header nav {
  position: relative;
}

.header .logo img {
  width: 8.8125rem;
  height: 1.375rem;
}

@media (max-width: 938px) {
  .header .main-navigation {
    position: absolute;
    top: calc(100% + 3.875rem);
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: white;
    border-radius: 0.3125rem;
    padding: 1.625rem;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  .header .main-navigation.fade-in {
    top: calc(100% + 2.625rem);
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }
}

.header .main-navigation a {
  padding: 0.625rem 0;
  color: #2d314d;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}

.header .main-navigation a:hover {
  color: #9698a6;
}

@media (min-width: 938px) {
  .header .main-navigation a {
    position: relative;
    font-size: 0.875rem;
    color: #9698a6;
  }

  .header .main-navigation a:not(:last-child) {
    margin-right: 2rem;
  }

  .header .main-navigation a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1.25rem;
    width: 100%;
    height: 0.3125rem;
    background: linear-gradient(to right, #f436ba, #ff0068);

    /* background: linear-gradient(to right, #31d35c, #2bb7da); */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .header .main-navigation a:hover {
    color: #2d314d;
  }

  .header .main-navigation a:hover::after {
    opacity: 1;
  }
}

.header .menu {
  width: 1.625rem;
  cursor: pointer;
}

.header .menu > span {
  display: block;
  width: 100%;
  height: 0.125rem;
  background: #2d314d;
  transform-origin: 0.1875rem 0.0625rem;
  transition: transform 0.3s ease-in-out;
}

.header .menu > span:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.header .menu.open > span:first-child {
  transform: rotate(45deg);
}

.header .menu.open > span:nth-child(2) {
  transform: scaleX(0);
}

.header .menu.open > span:last-child {
  transform: rotate(-45deg);
}

.hero {
  background: #fafafa;
}

@media (max-width: 938px) {
  .hero .container {
    padding: 0;
  }
}

@media (min-width: 938px) {
  .hero .container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}

.hero .hero-image {
  position: relative;
  background: url(https://th.bing.com/th/id/OIP.uc16uVeEZWeCkG6UooVCvQHaDt?w=283&h=175&c=7&r=0&o=5&dpr=1.5&pid=1.7)
    no-repeat center/cover;
  min-height: 17.5rem;
  margin-top: 60px;
}

@media (min-width: 40em) {
  .hero .hero-image {
    min-height: 25rem;
    background-position-y: 70%;
  }
}

@media (min-width: 938px) {
  .hero .hero-image {
    flex: 3;
    order: 2;
    min-height: 41rem;
    background-image: none;
  }

  .hero .hero-image::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 55%;
    margin-top: 10px;
    background: url(/static/media/anime.png) no-repeat -5% 83%/122%;
    filter: drop-shadow(3px 2px 10px pink);
  }
}

@media (min-width: 40em) {
  .hero .hero-image::after {
    background-size: 53%;
  }
}

@media (min-width: 938px) {
  .hero .hero-image::after {
    width: 119%;
    height: 122%;
    background-size: 94%;
    background-position: center 150%;
    left: 19%;
  }
}

.hero .hero-text {
  text-align: center;
}

@media (max-width: 938px) {
  .hero .hero-text {
    padding: 3.125rem 1.5rem;
  }
}

@media (min-width: 938px) {
  .hero .hero-text {
    flex: 2;
    order: 1;
    text-align: start;
  }
}

.hero .hero-text h1 {
  font-size: 2.3125rem;
  line-height: 1.15;
  margin-bottom: 1.5rem;
  background-position: center;
  background-size: cover;
  background-image: url("https://media1.giphy.com/media/VhPumOT1wmvUFHeyxU/giphy.webp?cid=790b7611tc9qbxa5f2wiqe9sff94xya8z9spudp0e31ivy1t&ep=v1_gifs_search&rid=giphy.webp&ct=g");
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 938px) {
  .hero .hero-text h1 {
    font-size: 3.25rem;
  }
}

.hero .hero-text p {
  line-height: 1.5;
  margin-bottom: 1.875rem;
}

.footer {
  background: #2d314d;
  color: white;
  padding: 2.5rem;
  padding-bottom: 0;
  text-align: center;
}

@media (min-width: 938px) {
  .footer {
    padding: 3.125rem;
    padding-bottom: 0;
  }
}

@media (min-width: 938px) {
  .footer .container {
    display: grid;
    grid-template-areas:
      "logo col1 col2 cta"
      "social col1 col2 copyright";
    justify-items: start;
    gap: 1rem;
  }
}

@media (max-width: 938px) {
  .footer .footer-logo {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 938px) {
  .footer .footer-logo {
    grid-area: logo;
  }
}

@media (max-width: 938px) {
  .footer .footer-social-media {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 938px) {
  .footer .footer-social-media {
    grid-area: social;
    align-self: end;
  }
}

.footer .footer-social-media a:not(:last-child) {
  margin-right: 1rem;
}

.footer .footer-social-media a:hover svg path {
  fill: #31d35c;
  transition: all 0.2s ease-in-out;
}

.footer .footer-links {
  display: flex;
  flex-direction: column;
}

@media (min-width: 938px) {
  .footer .footer-links {
    align-items: flex-start;
  }
}

.footer .footer-links a {
  color: #fff;
  font-size: 0.9375rem;
  line-height: 2.25;
  transition: color 0.2s ease-in-out;
}

.footer .footer-links a:hover {
  color: #31d35c;
}

@media (min-width: 938px) {
  .footer .col1 {
    grid-area: col1;
  }
}

@media (max-width: 938px) {
  .footer .col2 {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 938px) {
  .footer .col2 {
    grid-area: col2;
  }
}

@media (max-width: 938px) {
  .footer .footer-cta {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 938px) {
  .footer .footer-cta {
    grid-area: cta;
    justify-self: end;
  }
}

.footer .footer-copyright p {
  color: #9698a6;
  font-size: 0.875rem;
}

@media (min-width: 938px) {
  .footer .footer-copyright {
    grid-area: copyright;
    justify-self: end;
    align-self: end;
  }
}

.attribution {
  color: #fff;
  font-size: 0.8125rem;
  text-align: center;
  padding-top: 1.875rem;
  padding-bottom: 1.5625rem;
}

.attribution .outer-link {
  color: #fff;
  margin-left: 0.0625rem;
  transition: all 0.2s ease-in-out;
}

.attribution .outer-link:hover {
  color: #57db7a;
  cursor: pointer;
}

.attribution .social-media {
  list-style: none;
  margin-left: 0.3125rem;
  display: inline-flex;
  align-items: flex-end;
  gap: 0.75rem;
}

.attribution .social-media img {
  width: 22px;
  height: 22px;
  transition: transform 0.2s ease-in-out;
}

.attribution .social-media img:hover {
  transform: scale(1.08);
}

.attribution .social-media img.light {
  filter: invert(1);
}
