/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 21px;
}

h1 {
  color: #333;
  text-align: center;
}

/* Container styles */
#container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
  max-width: 400px;
  width: 100%;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

/* Button styles */
button {
  /* background-color: #007bff; */
  background: linear-gradient(to right, #31d35c, #2bb7da);

  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#NotifyUser {
  position: fixed;

  text-align: center;
  border-radius: 10px;
  z-index: 9999;
  font-size: 15px;
  font-weight: 500;
  animation: slideDown 0.5s ease-in-out;
  font-size: 21px;
  padding: 15px 20px;
  margin: 10px;
  top: 30px;
  left: 20%;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
/* Error */
.errorMessage {
  position: relative;
  background-color: #e9afa5ee;
  color: #be0e0e;
}
.errorMessage::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #f84848;
  border-radius: 2px;
  animation: errorBorder 3s linear forwards;
}

@keyframes errorBorder {
  to {
    width: 100%; /* Full width */
  }
}
.none {
  display: none;
}
/* success */
.successMessage {
  position: relative;

  background-color: #c6e9a5ea;
  color: #115011;
}
.successMessage::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #26a506;
  border-radius: 2px;
  animation: errorBorder 3.5s linear forwards;
}

@keyframes errorBorder {
  to {
    width: 100%; /* Full width */
  }
}
